<div ng-controller="SimController">

	<div class="jumbotron">
		<h2>{{song.Song}} </h2>
		<h4> {{song.Artist}}<h4>
	</div>
    <table ng-table="simSongsTable" class="table" show-filters="true">
        <tr ng-repeat="x in $data track by x.Id" id={{x.Id}} ng-click=simClick(x.Id) style="cursor:pointer">
        	<td title="'Rank'" filter="{ Rank: 'number'}" sortable="'Rank'" class="text-center">{{x.Rank}}</td>
            <td title="'Song'" filter="{ Song: 'text'}" sortable="'Song'">{{x.Song}}</td>
            <td title="'Artist'" filter="{ Artist: 'text'}" sortable="'Artist'">{{x.Artist}}</td>
            <td title="'Views'" filter="{ Num_hits: 'number'}" sortable="'Num_hits'" class="text-center">{{x.Num_hits}}</td>
            <td title="'Votes'" filter="{ Votes: 'number'}" sortable="'Votes'" class="text-center">{{x.Votes}}</td>
            <td title="'Rating'" filter="{ Rating: 'number'}" sortable="'Rating'" class="text-center">{{x.Rating}}</td>

      </table>
</div>
